<!DOCTYPE html>
<html lang="en">
    {% load static %}


    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Internal CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
        <title>Climbing Tracker</title>
    </head>

    <body>
         <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <main>
            <div class="container-fluid">
                <h1>Climbing Tracker</h1>
                {% if latest_sessions %}
                <div class="row">
                    <h2>Last climb</h2>
                    <div class="col">
                        <a href={% url 'journal:detail' latest_sessions.0.id %}>{{ latest_sessions.0 }}</a></li>
                    </div>
                </div>
                <div class="row">
                    <h2>Last month</h2>
                    <div class="col">
                        {% if latest_sessions %}
                        <ul>
                        {% for session in latest_sessions %}
                            <li><a href={% url 'journal:detail' session.id %}>{{ session }}</a></li>
                        {% endfor %}
                        </ul>
                        {% else %}
                            <p>No sessions are available.</p>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                    <p>No sessions are available.</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>