{% extends "journal/base.html" %}
{% block content %}
<div class="container-md">
    <div class="flex-row">
        <h1>Climbing Tracker for {{user}}</h1>
    </div>
    
    <!-- Add session-->
    <div class="flex-row border border-dark rounded">
        <div class="d-sm-flex justify-content-center bg-secondary">
            <form action="{% url 'journal:add_session' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="flex-row bg-secondary">
                <label>Location</label>
                <input id="location" name="location" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1">
            </div>
            <div class="flex-row bg-secondary">
                <label>Date</label>
                <input type="date" id="date" name="date">
            </div>
            <div class="flex-row bg-secondary">
                <label>Rating</label>
                <input type="rating" id="rating" name="rating">
            </div>
            <div class="flex-row bg-secondary">
                <div class="d-sm-flex justify-content-center">
                    <input type="submit" value="Add">
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <div class="flex-row"><div class="p-2 bd-dark"></div></div>

    {% if latest_sessions %}
    <div class="d-flex bd-highlight">
        <div class="p-2 w-50 justify-content-center bg-secondary border border-dark rounded">
            <h2>Last session</h2>
            <div class="col">
                <a class="text-white" href={% url 'journal:detail' latest_sessions.0.id %}>{{ latest_sessions.0 }}</a></li>
            </div>
        </div>
        <div class="p-2 w-10"><div class="w-50"></div></div>
        <div class="p-2 w-50 justify-content-center bg-secondary border border-dark rounded">
            <h2>Best climb</h2>            
        </div>
    </div>

    <div class="flex-row"><div class="p-2 bd-dark"></div></div>

    <div class="d-flex bd-highlight">
        <div class="p-2 w-50 justify-content-center bg-secondary border border-dark rounded">
            <h2>Last month</h2>
            <ul>
            {% for session in latest_sessions %}
                <li><a class="text-white" href={% url 'journal:detail' session.id %}>{{ session }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="p-2 w-10"><div class="w-50"></div></div>
        <div class="p-2 w-50 justify-content-center bg-secondary border border-dark rounded">
            <h2>Best session</h2>            
            <p>{{ best_session.location }} @ {{ best_session.rating }}</p> 
        </div>
    </div>
    {% else %}
        <p>No sessions are available.</p>
    {% endif %}
</div>

<script>
    // Autocomplete   
    var config = {
        selector: "#location",
        placeHolder: "Locations",
        data: {
            src: ["Bpump", "Pump2"]
        },
        resultItem: {
            highlight: true,
        },
        events: {
            input: {
                focus() {
                    if (autoCompleteJS.input.value.length) autoCompleteJS.start();
                },
                selection(event) {
                    const feedback = event.detail;
                    autoCompleteJS.input.blur();
                    // Prepare User's Selected Value
                    const selection = feedback.selection.value;
                    // Replace Input value with the selected value
                    autoCompleteJS.input.value = selection;
                    // Console log autoComplete data feedback
                    console.log(feedback);
                },
            },
        },
        
    };
    const autoCompleteJS = new autoComplete(config);
    
</script> 

{% endblock %}