{% extends "journal/base.html" %}
{% block content %}
    <div class="container-fluid">
        <h1>Climbing Tracker for {{user}}</h1>
        {% if latest_sessions %}
        <div class="row">
            <h2>Last climb</h2>
            <div class="col">
                <a href={% url 'journal:detail' latest_sessions.0.id %}>{{ latest_sessions.0 }}</a></li>
            </div>
        </div>
        <div class="row">
            <h2>Last month</h2>
            <div class="col">
                {% if latest_sessions %}
                <ul>
                {% for session in latest_sessions %}
                    <li><a href={% url 'journal:detail' session.id %}>{{ session }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No sessions are available.</p>
                {% endif %}
            </div>
        </div>
        {% else %}
            <p>No sessions are available.</p>
        {% endif %}
    </div>

    <div class="container-md">
        <form action="{% url 'journal:add_session' %}" method="post">
        {% csrf_token %}
        <label>Center</label>
        <input type="text" id="center" name="center">
        <label>Date</label>
        <input type="date" id="date" name="date">
        <label>Rating</label>
        <input type="rating" id="rating" name="rating">

        <input type="submit" value="Add">
    </form>
    </div>
{% endblock %}